<% layout('layouts/boilerplate') %>
    <h1><%= Tolet.title %> </h1>
    <h2><%= Tolet.location %> </h2> 
    <!-- <img src="<%= //Tolet.images %> " alt=""> -->
    <p><%= Tolet.description %> </p>
    
    <p><a href="/tolets/<%= Tolet._id %>/edit ">Edit</a></p>
    <form action="/tolets/<%= Tolet._id %>?_method=DELETE " method="POST">
    <button>Delete</button>
    </form>
    <footer>
        <a href="/tolets">All Tolets</a>
    </footer>
